.popup__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: calc(100% - 28px);
  padding-top: 34px;
  padding-bottom: 50px;
  color: black;
}

@media screen and (max-width: 644px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    margin: 0 0 70px;
    padding: 0;
  }
}