.gallery__delete-button {
    background: transparent url('../../../images/icon-trash.svg') no-repeat;
    border: none;
    margin: 0;
    min-height: 19px;
    min-width: 18px;
    padding: 0;
    position: absolute;
    transform: translate(244px, 20px);
    transition: all .4s ease-in-out;

}

.gallery__delete-button:hover {
    opacity: .5;
    cursor: pointer;
}