.header__navigation {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .header__navigation {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__navigation {
    margin-top: 40px;
  }
}
