.profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  padding-top: 40px;
}

@media screen and (max-width: 915px) {
  .profile {
    width: 88%;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }
}