.auth__input {
  font-size: 14px;
  font-weight: 400;
  background-color: #000;
  height: 27px;
  color: #ccc;
  width: 100%;
  margin: 6px 0;
  padding: 0;
  border: 0;
  border-bottom: 2px solid #ccc;
}

.auth__input:focus {
  outline: none;
  background-color: #000;
}


@media (min-width: 700px) {
  .auth__input {
    width: 358px;
  }
}